Q1. How do you comment code in Python? What are the different types of comments?

ANS: We can add comment in python by two methods- 1)Single line comment 2)multi-line comments
single line is added with # and mulyi-line is added with triple single or double quotes(""")or(''') on both side of code.

In [1]:
#Example

#this is single line comment
print("Hello Coders") #now phython will only print whats is given in print function ,anything after the hash symbol is igonered

Hello Coders

In [8]:
'''
This is a multi-line comment in Python.
It can span multiple lines and is enclosed
within triple quotes.
'''
print("Hello, world!")

Hello, world!

Q2. What are variables in Python? How do you declare and assign values to variables?

ANS:- Variables are used to store the differnt kind of data values and execute in program. , in phythons we need not to declare the data type like any other programming languages

In [20]:
#declaration of variables

my_Variable = "python"

x = 10 #we declared a variable as x and assigned it value as 10
H = "Hello Coders!" #assigning the string
pi = 3.14 #assigning float
two_table = [2,4,6,8,10] #assigning list

Q3. How do you convert one data type to another in Python?

ANS:- In python we can convert data by converstion function , there are two types of conversion
Implicit Conversion: Python automatically performs certain type conversions, known as implicit conversions, when it's safe to do so. For example, when performing operations between compatible data types, Python will automatically convert them. For instance, adding an integer and a floating-point number will result in a float.

Explicit Conversion: If you need to convert a value explicitly from one data type to another, you can use the following built-in functions:

In [11]:
#Examples

#implicit conversion
x = 10
y = 3.4
print(x+y) # here x is interger data type and y is floating point data type , so phython automatically retruns the float point as result

13.4

In [14]:
#explicit conversion
a = int(3.14)
b = str(143)
c = float("1437")
d = list("pwskills")
e = dict([('name', 'ayush')])

In [15]:
a #float to integer

3

In [16]:
b #interger to string

'143'

In [17]:
c #string to float

1437.0

In [18]:
d #string to list

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [19]:
e #list to dict

{'name': 'ayush'}

Q4. How do you write and execute a Python script from the command line?

ANS :-1)Open a command line interface. This can be the Windows Command Prompt.

2)Navigate to the directory where you want to create the Python script using the cd command.

3)Create a new file with a .py extension. You can use any text editor to create the file. 

4)Open the Python script file in a text editor and write your Python code in it. For example, you can use a command like nano script.py on macOS/Linux or open the file in Notepad on Windows.
Inside the script, you can write your Python code.

5)Save the file after writing your Python code.

6)Return to the command line interface.

7)To execute the Python script, use the python command followed by the name of the script file. For example, if your script file is named "script.py", you can use:
The Python interpreter will execute the script, and if there are any print statements or output generated by the script, it will be displayed in the command line interface.

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [1]:
#ANS
my_list = [1,2,3,4,5]

In [3]:
my_list[1:3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

ANS:- Complex number are set of combination of real number and imaginary number, it is in the form of a+ib

In [7]:
#Represent of coplex number in python

#In python the imaginary are form with the letter j

#example
c = 6+9j

In [9]:
type(c)

complex

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [11]:
#declare a variable named as age 

age = 25 #assigning the value 25

In [12]:
age #now whenever your calling the variable age the assigned value is retruns

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [13]:
#Decalre a varibale named price 

price = 9.99 #assigning the value 9.99

In [14]:
type(price) #the data type is float

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [15]:
#Creating a variable named name

name = "Ayush Bhuyar"
print(name) #printing the value of variable

Ayush Bhuyar

Q10. Given the string "Hello, World!", extract the substring "World".

In [17]:
string = "Hello, World!"
substring = string[7:-1]

print(substring)

World

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [22]:
is_student = True
if is_student == 1:
    print("i am a student") #if your currently student 
else :
    print("i am not a student")

i am a student